body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* background: rgb(0, 0, 0);
    background: -moz-linear-gradient(-45deg, rgb(102, 172, 162) 0%, rgba(65,103,168,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgb(37, 11, 39)), color-stop(100%, rgb(131, 177, 105)));
    background: -webkit-linear-gradient(-45deg, rgba(154,57,163,1) 0%, rgba(65,103,168,1) 100%); */
}


.searchbar {
    position: relative;
  }
  
  .searchbar form {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.171);
  }
  
  .searchbar input[type="text"] {
    padding: 10px 10px;
    padding-left: 40px;
    border: none;
    flex-grow: 1;
    border-radius: 30px;
    font-size: 16px;
    color: #666;
    width: 70%;
    height: 25px;
    background-color: transparent;
    transition: padding-left 0.4s ease-in-out;
  }

  .searchbar input[type="text"]::placeholder {
    font-weight: lighter;
    opacity: 0.5;
    padding: 0;
  }
  
  .searchbar input[type="text"]:focus {
    padding-left: 20px;
    outline: none;
    position: relative;
  }

  .searchbar form {
    position: relative;
    width: 500px;
  }
  
  .searchbar button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .searchbar button:hover {
    transform: scale(1.2);
  }
  
  .fa-search {
    font-size: 20px;
    padding: 10px;
    color: #666;
    transition: all 0.3s ease-in-out;
  }
  
  .searchbar input[type="text"]:focus ~ .fa-search {
    color: #000;
  }

/* Homepage Styling */

    .centerScreen{
        display: flex;
        min-height: 100vh;
        position: relative;
        justify-content: center;
        align-items: center;
        background-image: url(background.jpg);
    }

    .homepageSearch{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .homepageSearch h1 {
      color: rgb(240, 233, 221);
    }


/* Search page styling */
    .contentScreen{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin: 30px min(150px, max(100% - 700px, 0px));
        max-width: 800px;
    }

    @media screen and (max-width: 700px) {
        .contentScreen{
            margin-left: 0px;
            margin:10px;
        }

        .contentScreen h1{
            text-align: center;
        }
    }

    .contentScreen .searchbar>form{
      width: 100%;
    }

    .searchResults{
        margin-top: 10px;
    }

    .searchResult{
        background-color: #fafafa;
        border-radius: 30px;
        box-shadow: #ccc 1px 1px 5px;
        padding: 10px 20px 20px 20px;
    }

    .linksList{
        padding-left: 0px;
        font-size: 11pt;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .linksList_link{
      box-shadow: #ccc 0px 0px 2px;
      padding: 2px 5px;
      border-radius: 2px;
      margin: 3px 0px;
      text-decoration: none;
      background-color: hsl(var(--link-hue), 100%, 90%);
    }

    .linksList_link:hover{
      font-weight: bold;
    }

    .linksList_url{
      margin-right: 8px;
      color: hsl(var(--link-hue), 50%, 10%);
    }

    .linksList_type{
        display: inline-block;
        text-align: center;
        padding: 0px 2px;
        border-radius: 3px;
        color: hsl(var(--link-hue), 50%, 20%);
        background-color: hsl(var(--link-hue), 100%, 80%);
        font-weight: bold;
        font-size: 10pt;
    }

    h3{
      margin-bottom: 6px;
      font-size: 13pt;
    }


    .searchResult>p{
      margin: 0px;
      font-size: 12pt;
      background-color: #fff;
      padding: 5px;
      border-radius: 5px;
      box-shadow: #ccc 0px 0px 2px;
    }

    .hint{
      margin-top: 10px;
      font-size: 14pt;
    }

    #info-icon{
      color: #373737;
      transition: all 0.3s ease-in-out;
    }

    #info-icon:hover{
      color: #616161;
      cursor: pointer;
      transform: scale(1.2);
    }
    
    .menu{
      display: none;
      position: absolute;
      background: #373737;
      border-radius: 5px;
      padding: 6px;
      transition: 200ms ease-in-out;
      }
      
    .menu i {
      color: #e7e7e7;
      cursor: pointer;
      margin: 8px;
      font-style: normal;
      font-size: 11pt;
      padding: 5px;
    }

    .menu:hover{
      background-color: #616161;
    }