{% extends 'base.html' %}
{% block title %}Internet Research Assistant{% endblock %}
{% block body %}
<div class="contentScreen">

    <h1>Internet Research Assistant</h1>

    <!-- Display the search bar at the top of the screen -->
    {% include "searchbar.html" %}

    <!-- Render each search result below it -->
    <div class="searchResults">
        {% for result in results: %}
        <br>
        <div class="searchResult">
            <h2>{{ result.title }}</h2>
            <p>{{ result.description }}</p>
            <h3>Links</h3>
            <ul class="linksList">
                {% for link in result.links %} 
                <li>
                    <span class="linksList_link" style="background-color: {{ link.link_color }}">
                        <span class="linksList_url"><a href="{{ link.url }}" >{{ link.url }}</a></span>
                        <span class="linksList_type">{{ link.link_type }}</span>
                    </span>
                </li>
                {% endfor %}
            </ul>
            <p style="text-align: center">... (Up to 7 links)</p>
            <h3>Reason for including</h3>
            <p>{{ result.reason }}</p>  
        </div>
        {% endfor %}
    </div>
    
</div>
{% endblock %}
