{% extends 'base.html' %}
{% block title %}Internet Research Assistant{% endblock %}
{% block body %}
<div class="contentScreen">

    <h1>Internet Research Assistant</h1>

    <!-- Display the search bar at the top of the screen -->
    {% include "searchbar.html" %}

    <div class="hint">
        <p>Hint: Highlight words to lookup more!  <i id="info-icon" onclick="openPopup()" class="fa fa-info-circle"></i></p>
    </div>
    <dialog class="modal">
        <p>You can highlight words to go lookup more!</p>
        <img src="{{ url_for('static', filename='hint-info.jpg') }}">
        <button type="button" onclick="closePopup()">Got it!</button>
    </dialog>

    <!-- Render each search result below it -->
    <div class="searchResults">
        <div class="menu">
            <i class="lookup" id="lookup-btn">Lookup</i>
        </div>
        {% for result in results %}
        <br>
        <div class="searchResult">
            <h2>{{ result.title }}</h2>
            <p>{{ result.description }}</p>
            <h3>Related Links</h3>
            <div class="linksList">
                {% for link in result.links %}
                <a class="linksList_link"  href="{{ link.url }}" style="--link-hue: {{ link.link_hue }}" target="_blank">
                    <span class="linksList_url">{{ link.name }}</span>
                    <span class="linksList_type">{{ link.link_type }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Render each search term in the history -->
    <div class="searchHistory">
        <h3>Topic Tree</h3>
        <marquee>this needs to be restyled</marquee>

        {% for keyword in history %}
        <p>{{keyword}}</p>
        {% endfor %}
    </div>

</div>


<!-- This puts the {{id}} in /search?id={{id}} -->
{% if id is not none %} 
    <script>window.searchId = "{{id}}"; </script>
{% endif %}

</div>

<div class="loader loader-hidden"></div>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}