{% extends 'base.html' %}
{% block title %}Internet Research Assistant{% endblock %}
{% block body %}
<div class="contentScreen">

    <h1>Internet Research Assistant</h1>

    <!-- Display the search bar at the top of the screen -->
    {% include "searchbar.html" %}

    <div class="hint">
        <p>Hint: Highlight words to lookup more!  <i id="info-icon" class="fa fa-info-circle"></i></p>
    </div>

    <!-- Render each search result below it -->
    <div class="searchResults">
        <div class="menu">
            <i class="lookup" id="lookup-btn">Lookup</i>
        </div>
        {% for result in results: %}
        <br>
        <div class="searchResult">
            <h2>{{ result.title }}</h2>
            <p>{{ result.description }}</p>
            <h3>Related Links</h3>
            <div class="linksList">
                {% for link in result.links %}
                <a class="linksList_link"  href="{{ link.url }}" style="--link-hue: {{ link.link_hue }}">
                    <span class="linksList_url">{{ link.name }}</span>
                    <span class="linksList_type">{{ link.link_type }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>



</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

{% endblock %}